.OrderPage {
  height: 180vh;
  display: flex;
  padding-top: 74px;
  width: 100%;
}

.OrderLeft {
  width: 75%;
}

.OrderRight{
  position: fixed;
  width: 25%;
  right: 0px;
}

.OrderLeft img {
  height: 40vh;
  width: 100%;
  object-fit: cover;
}

