.gallerygrid img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallerygrid {
  height: 50vh;
  border: 1rem solid #fff;
  color: #fff;
  box-shadow: 10px 10px 50px grey;
}

@media (max-width: 575.98px) {
  .gallerygrid {
    height: 400px!important;
    margin: 0 0 3rem 0 !important;
  }
}
