.menu {
  width: 70%;
  margin: auto;
  padding-bottom: 5rem;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
  color: #1d2125ec;
  padding-top: 5rem;
  font-weight: 500;
  width: 70%;
  margin: auto;
  padding-bottom: 5rem;
}
.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 4px solid #c7c7c7;
}
.separator::before {
  margin-right: 1rem;
}
.separator::after {
  margin-left: 1rem;
}

.font {
  font-size: 20px;
}

.first {
  width: 25%;
}

.second {
  width: 50%;
}

.third {
  width: 12.5%;
}

.fourth {
  width: 12.5%;
}

.width {
  width: 75%;
}

@media (max-width: 575.98px) {
  .menu {
    width: 95% !important;
  }

  .separator {
    width: 90% !important;
  }
}
