.opinionsrow {
  width: 80%;
  margin: auto;
}

.opinionstext {
  text-align: center;
  display: flex;
  justify-content: center;
}

.opinionstext img {
  margin: auto;
  margin-top: 2rem;
}

.cardheight {
  height: 35vh;
}

.stars {
  color: gold;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 80%;
  left: 0;
  right: 0;
  text-align: center;
}

@media (max-width: 575.98px) {
  .cardPadding{
    padding-top: 3rem;
  }
}